//
  Javascript Files
  ________________________________
script(type='text/javascript', src='https://cdn.socket.io/socket.io-1.4.5.js')
script(type='text/javascript', src='static/js/jquery-3.1.0.min.js')
script(type='text/javascript', src='static/js/twitterFrontEnd.js')
