//Message from friend
li.app--message
    .app--avatar(style='background-image: url(images/f-spore.png)')
        img(src='images/f-spore.png')
    p.app--message--text How are things?
    p.app--message--timestamp 3 hours ago
    
    
//
 Message from user
  li.app--message--me
      .app--avatar(style='background-image: url(images/m-spore.png)')
          img(src='images/m-spore.png')
      p.app--message--text
          | Great! How about you? Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      p.app--message--timestamp 2 hours ago
