extends layout

block content
  //Include the header
  include ./partials/_header.jade
  //Include new tweet bar
  include ./partials/_newTweet.jade
  
  .bounds.app--body
      .app--section--header
          .grid-33
              .app--section--heading
                  h2 Timeline
          .grid-33
              .app--section--heading
                  strong #{user.friends_count}
                  h2 Following
          .grid-33
              .app--section--heading
                  h2 Direct Messages
      .grid-33
          .app--section
              ul.app--tweet--list
                  //Here there be tweets
                  //include the tweets
                  each tweet in tweets
                    unless tweet == 'undefined'
                      include ./partials/_tweet.jade
      .grid-33
          .app--section
              ul.app--user--list
                  //Here there be friends :D
                  //include the friends
                  each friend in friends
                    unless friend == "undefined"
                      include ./partials/_friend.jade
      .grid-33
          .app--section
              ul.app--message--list
                  li
                      h3
                          | Conversation with 
                          a(href='https://twitter.com/' + recipient.screen_name) #{recipient.name}
                      ul.app--message--conversation
                          //Here there be messages arghh
                          //include one message
                          each message in messages
                            include ./partials/_message.jade
     include ./partials/_getJSScripts.jade
